// row allows align components inside a row into a row :)
.row {
  display: grid;
  grid-template-columns: auto;
}
.row-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.row-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.row-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.row-5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.row-6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.column {
}

@media only screen and (max-width: 800px) {
  .row-2,
  .row-3,
  .row-4,
  .row-5,
  .row-6 {
    grid-template-columns: auto;
  }
}
