@import "typography";
@import "buttons";
@import "colors";
@import "layout";
@import "grid";
@import "form";

$graytone: #1d3e5c;
$radius: 0.2rem;
$padding: 0.6rem;
$boxShadow: 1px 1px 4px $graytone;

body {
  margin: 0;
  // font-family: "Roboto", sans-serif;
  font-family: "fira_sansregular";
}
p {
  border-radius: 2px;
  // font-family: "Roboto", sans-serif;
  font-family: "fira_sansregular";
  padding: $padding;
}

a {
  text-decoration: none;
  color: $buttonColor;
  cursor: pointer;
}
a:hover {
  color: $hover;
}
h1 {
  margin: 5px;
}

// Layout
