@import "fonts";
@import "buttons";
@import "colors";
@import "layout";
@import "grid";
@import "form";
$graytone: #22405c;
$radius: 0.2rem;
$padding: 0.6rem;
$boxShadow: 1px 1px 4px $graytone;

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
p {
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  padding: $padding;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $buttonColor;
  cursor: pointer;
}
a:hover {
  color: $hover;
}
h1 {
  margin: auto;
}

// Layout
